<div>
    <h1>Edit user: {{user.name}}</h1>
    <form method="post" action="/users/edit/:id" class="form">
        <input type="hidden" name="id" value="{{user.id}}">
        <div class="form-control">
            <label for="name">Nome: </label>
            <input type="text" name="name" placeholder="Digite o nome do usuário" value="{{user.name}}">
        </div>    
        <div class="form-control">
            <label for="occupation">Ocupação: </label>
            <input type="text" name="occupation" placeholder="Digite a profissão" value="{{user.occupation}}">
        </div>  
        <div class="form-control form-checkbox">
            <input type="checkbox" name="newsletter" id="newsletter" 
                {{#if user.newsletter}}checked{{/if}}>
            <label for="newsletter">Enviar promoções:</label>
        </div>  
        <input type="submit" value="Editar">
    </form>
    <div class="adressList">
        <h2>Lista de endereços</h2>
        {{#each user.Adresses}}
            <div>
                #{{this.id}} - {{this.street}} - {{this.number}} - {{this.city}}
                <form action="/adress/delete" method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="Excluir">
                </form>
            </div>
        {{/each}}
    </div>
</div>
